.leaflet-control-load-raster {
	background-color: white;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.leaflet-control-load-raster input[type=file] {
	display: none;
}
.leaflet-control-load-raster label {
	cursor: pointer;
	display: flex;
	align-items: center;
}
.leaflet-control-load-raster i {
	margin-right: 5px;
}